<div class="container col-sm-6 col-lg-8">
    <div *ngIf="!valid">
        <div class="alert alert-danger" role="alert">
            Please add valid data!
          </div>

    </div>

</div>
<div class=" container col-sm-6 col-lg-8">
    <div class="submit-form">
        <div *ngIf="!submitted">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="employee.name"
              name="name"
            />
          </div>
      
          <div class="form-group">
            <label for="salary">Salary</label>
            <input
              type="number"
              class="form-control"
              id="salary"
              required
              [(ngModel)]="employee.salary"
              name="salary"
            />
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input
              type="number"
              class="form-control"
              id="age"
              required
              [(ngModel)]="employee.age"
              name="age"
            />
          </div>
      
          <button (click)="saveEmployee()" class="btn btn-success">Submit</button>
        </div>
      
        <div *ngIf="submitted">
            
            <div class="alert alert-success" role="alert">
                <h4>Employee Created!</h4> <a href="#"  (click)="newEmployee()" class="alert-link">Add another Employee</a>.
                <button class="btn btn-success" (click)="newEmployee()">Add</button>
              </div>
              
        </div>


        
        
              </div>
              
        
    
  </div>
